.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
margin-bottom: 13px !important;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions {
margin-bottom: 17px;
}
.resultStyle{
    margin-top: 100px;
    padding: 0px 50px;
}